body{
    margin: 0 auto;
    background-color: white;
    padding: 0px 15px;
}

/*------------------Template------------------ */
.container{
    max-width: 1517px;
    margin: 0 auto;
    box-sizing: content-box;
}

.menu{
    display: flex;
    align-self: center;
    text-align: center;
}

.text{
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    color: #545454;
    font-weight: 500;
    line-height: 175.5%;
}

.img{
    max-width: 711px;
    max-height: 711px;
}

.btn{
    font-size: 24px;
    height: 80px;
    width: 275px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    background-color: #1F1F1F;
    color: white;
    text-decoration: none;
    line-height: 80px;
    font-weight: 600;
    display: inline-block;
}

.title{
    font-size: 58px;
    color: black;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

/*------------------Template------------------ */
/*------------------Header------------------ */


.header{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    border: 2px solid black;
}

.header__logo{
    width: 177px;
    height: 48px;
    align-self: center;
}

.menu__list:not(:last-child){
    margin-right: 93px;
}

.menu__list{
    padding: 0 0;
    display: flex;
}

.menu__item{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu__link{
    font-size: 22px;
    text-decoration: none;
    color: #545454;
    font-family: 'Inter', sans-serif;
}

.menu__link__acctive{
    color: black;
}

.header__btn{
    width: 176px;
    height: 60px;
    line-height: 60px;
    text-shadow: 0px 5px 5px black;
}

/*------------------Header------------------ */
/*------------------Main------------------ */
.main{
    margin-top: 148px;
    position: relative;
}

.main__top{
    display: flex;
    justify-content: space-between;
}

.item-text__title{
    font-size: 133px;
    font-weight: 500;
    line-height: 0px;
}

.main__img{
    width: 507px;
    height: 428px;
}

.left__btn{
    width: 302px;
    height: 86px;
}

.left__items{
    display: flex;
}

.items__top{
    font-size: 70px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

.items__bottom{
    margin: 0px;
    padding: 0px;
}

.bottom__right{
}

.items__bottom{
    font-size: 22px;
    font-weight: 400;
}

.left__items{
    display: flex;
    justify-content: space-between;
    width: 699px;
    height: 116px;
    margin: 130px 0px 0px 0px;
}

.left__items-block{
    flex-direction: column;
    line-height: -10px;

}

.main__bottom{
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    padding: 40px 105px 0px 0px;
    position: relative;
}

.right__img{
    height: 406px;
    width: 638px;
    position: absolute;
    top: 40px;
    right: 100px;
    z-index: 50;   
}

.right__scroll{
    height: 151px;
    width: 151px;
    position: relative;
    right: -115px;
    bottom: -255px;
    z-index: 50;
}

/*
.scroll__arrow{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
*/

.bottom__box{
    width: 206px;
    height: 167px;
    border: 2px solid black;
    position: absolute;
    top: 10px;
    right: 560px;
    z-index: 25;
}
/*------------------Main------------------ */
/*------------------Our Services------------------ */

.our-services{
    margin-top: 160px;
}

.our-services__sub-title{
    display: flex;
    justify-content: space-between;
    margin-top: 98px;
}

.sub-title__img{
    width: 72px;
    height: 70px;
}

.sub-title__title{
    font-size: 30px;
}

.sub-title__text{
    font-size: 22px;
    line-height: 165.2%;
    margin-top: 35px;
}

.our-services__title{
    margin-left: 50px;
}

.our-services__title::before{
    content: "";
    height: 3px;
    width: 100px;
    background-color: black;
    display: inline-block;
    position: relative;
    top: -20px;
    left: -50px;
}

/*------------------Our Services------------------ */
/*------------------Custom design------------------ */

.custom-design{
    margin-top: 241px;
    display: flex;
    justify-content: space-between;
}

.custom-design__block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.select-box__title{
    font-size: 24px;
    display: block; 
    border-bottom: 1px solid #DADADA;
    padding-bottom: 23.5px;
    display: flex;
    justify-content: space-between;
}

.select-box__title-plus{
    font-size: 30px;
    line-height: 27px;
}

/*------------------Custom design------------------ */
/*------------------Simple Steps------------------ */

.simple-steps{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.simple-steps__box{
    display: flex;
    justify-content: space-between;
}

.simple-steps__logo{
    width: 72px;
    height: 72px;
    margin-top: 61px;
}

.item__title{
    font-size: 30px;
    margin-top: 77px;    
}

.item__text{
    line-height: 165.2%;
    margin-top: 21px;
}

.simple-steps__box::after{
    content: "";
    width: 1px;
    height: 102px;
    background-color: #9B9B9B;
    display: inline-block;
    position: relative;
    top: 170px;
    left: -650px;
}
