body{
    margin: auto;
    background-color: #1a1f25;
}

.container{
    width: 400px;
    margin: 0 auto;;
}

.content{
    margin-top: 300px;
}

.title__box{
    display: flex;  
    justify-content: space-between;
    margin-bottom: 10px;
}

.title{
    font-size: 35px;
    color: #e2e9f0;
    font-family: 'Roboto', sans-serif;
}

.registerbtn{
    display: flex;
    height: 35px;
    width: 100px;
    color: black;
    border: 1px solid grey;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    border-radius: 4px;
}

.register{
    font-size: 15px;
    display: flex;
    text-decoration: none;
    color: #a1a3a6;
    font-family: 'Roboto', sans-serif;
}

.username{
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    background-color: #1a1f25;
    border: 1px solid #97999b;
    text-align: center;
    opacity: 0.6;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
}

.password{
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    background-color: #1a1f25;
    border: 1px solid #97999b;
    text-align: center;
    opacity: 0.6;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
}

.sign__in__btn{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    background-color: #e6b333;
    border-radius: 4px;
}

.sign__in{
    text-decoration: none;
    color: #e2e9f0;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.last__line{
    display: flex;
    justify-content: space-between;
}

.remember__me__box{
    display: flex;
    color: #a1a3a6;
    opacity: 0.6;
    font-family: 'Roboto', sans-serif;
}

.lost__password{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #a1a3a6;
    opacity: 0.6;
    font-family: 'Roboto', sans-serif;
}
